* {
  box-sizing: border-box;
}
html,
body{
    margin: 0;
    padding: 0;
}
h1,
h2,
h3{
  font-family: Manrope;
  font-size: 39px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  color: #000000;
}
p{
  font-family: Manrope;
  font-size: 23px;
  font-weight: 300;
  color: #000000;
}
.catalog__grid{
 max-width: 1440px;
 margin: 80px;
 display: grid;
 grid-template-columns: repeat(12, 1fr);
 gap: 24px;
}
